.field {
    border: 1px solid black;
    background-color: #37504C;
    aspect-ratio: 1/1;
    border-radius: 0;
    cursor: pointer;
}

.field:hover {
    transform: scale(1.05);
    border: 2px solid black;
    transition: transform .3s ease;
}